html,
body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 1.7;
  text-align: justify;
  overflow-x: hidden;
}

h1 {
  color: #1b1d20;
  text-align: center;
  font-weight: 800;
  margin-top: 40px;
  font-size: 48px;
}

h2 {
  text-align: center;
  color: #4b7494;
  margin-bottom: 35px;
}

.subheading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
}

.wrapper {
  width: 100%;
}

.page-content {
  padding: 0px 50px 0px 50px;
}

.header-line {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  border-bottom: 4px solid #97c73c;
  width: 800px;
  margin: 0 auto;
}

/* feste Bereiche */
.page-fixed {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.page-header {
  top: 0;
  height: 80px;
  background-color: white;
  padding-top: 10px;
  width: 800px;
}

.page-footer {
  bottom: 0;
  height: 100px;
  font-size: 11px;
  width: 800px;
  padding-top: 15px;
  background-color: white;
}

.page-header-space {
  height: 85px;
}

.page-footer-space {
  height: 160px;
}

.document-pageNr {
  font-size: 13px;
  font-weight: 500;
  position: relative;
  bottom: 50px;
  right: -260px;
}

.legal-information,
.bank-information,
.document-info {
  font-size: 10px;
  position: absolute;
  bottom: 1.5rem;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 30px;
}

.legal-information {
  left: 55px;
}

.bank-information {
  right: 340px;
  padding-bottom: 40px;
}

.document-info {
  right: 55px;
}

/* Document specific styles */
.sign ature-container {
  display: flex;
  flex-direction: column;
}

.text-xs {
  font-size: 12px /* 12px */;
  line-height: 16px /* 16px */;
}

.signature-fields-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signature-managing-director {
  margin-right: 24px;
}

.signature-container {
  margin-top: 80px;
}

.signature {
  left: 430px;
  top: 65px;
}

.stamp {
  transform: rotate(20deg);
  left: 590px;
  top: 27px;
}

.signature-image-container {
  position: relative;
}

.signature-image {
  position: absolute;
}

.signature-date {
  margin-bottom: 100px;
}

.title-container {
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 85px;
  align-items: center;
  font-size: 31px;
  font-weight: 700;
}

.sub-title {
  font-size: 20px;
  font-weight: 700;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
  border: 1px solid black;
  font-size: 13px;
}

.table th {
  width: 35%;
  background-color: #e3eecb;
  padding: 8px 12px;
  text-align: left;
  font-weight: 500;
  border: 1px solid black;
}

.table td {
  width: 65%;
  padding: 8px 12px;
  border: 1px solid black;
}

.paragraph-container {
  margin-bottom: 40px;
}

.paragraph {
  font-size: 20px /* 20px */;
  font-weight: 700;
  line-height: 1.75rem /* 28px */;
}

.introduction {
  margin-bottom: 6px;
}

.text-color-primary {
  --tw-text-opacity: 1;
  color: rgb(29 43 75 / var(--tw-text-opacity)) /* #1d2b4b */;
}

.text-color-secondary {
  --tw-text-opacity: 1;
  color: rgb(74 116 147 / var(--tw-text-opacity)) /* #4a7493 */;
}

.document-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  font-size: 14px;
}

.company-info {
  text-align: right;
  line-height: 1.4;
  font-size: 12px;
}

.page-number {
  text-align: center;
  margin-top: 30px;
  font-size: 10px;
  font-weight: 500;
}

/* Druckeinstellungen */
@page {
  size: A4;
  margin: 0;
}

@media print {
  .page-header,
  .page-footer {
    position: fixed;
  }
}

/* tailwind classes*/
.info-table {
  border-spacing: 0;
}

.border {
  border: 1px solid black;
}

.border-documents-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(74 116 147 / var(--tw-border-opacity)) /* #4a7493 */;
}

.bg-documents-table {
  --tw-bg-opacity: 1;
  background-color: rgb(216 227 235 / var(--tw-bg-opacity)) /* #d8e3eb */;
}

.align-top {
  vertical-align: top;
}

.px-\[4px\] {
  padding-left: 4px;
  padding-right: 4px;
}

.text-justify {
  text-align: justify;
}

.font-bold {
  font-weight: 700;
}

.text-lime-600 {
  --tw-text-opacity: 1;
  color: rgb(101 163 13 / var(--tw-text-opacity)) /* #65a30d */;
}

.pl-4 {
  padding-left: 16px;
}

.mb-05 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-0 {
  margin-top: 0px;
}

.text-lg {
  font-size: 18px;
  line-height: 28px;
}
